/*fuentes del portafolio */
*{
    font-family: 'Poppins', sans-serif;
    color:wheat;
}

/* fondo del portafolio*/
body{
    background-image: url('/images/background.jpg');
}

/* configuración foto de perfil cv */
#imagen-cv{
    text-align: center;
    border-radius: 150px;
    border: 5px gray solid;
    width: 200px;
    height: 200px;
    margin: 20px;
}

/* modelado de las cajas */
.modelo-caja{
    margin-top: 50px ;
    margin-bottom: 30px;
    border: 5px green;
    background-color: rgba(28, 93, 165, 1);
    filter: alpha(opacity=50);
    border-style: groove;
    border-radius: 70px;
    padding: 10px;
    width: 600px;
}

/*selección de caja */
.modelo-caja:hover{
    border-color: gold;
    background-color: green;
}

/* modelado de la caja que contiene la foto */
#caja-perfil-foto{
    text-align: center;
}

/* desactivo puntos del listado para personalizar iconos */

#datos-personales{
    list-style:none;
}

/* centrado de listado */

.listado-centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* separación de iconos */

.icono-listado::before{
    margin-right: 10px;
}

/*Organización de titulos en modelo-caja*/

.modelo-caja>h2{
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #D75019 ;
    border-radius: 50px;
}

/* botón para volver al arriba */

#btn-arriba {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99; 
  border: none;
  outline: none; 
  color: white;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#btn-arriba:hover {
  background-color: #555;
}