* {
    box-sizing: border-box;
}

/* .row {
    border-radius: 5px;
    border-color: black;
    border-style: double;
} */

.col{
    border-radius: 30px;
    border-color: black;
    border-style: double;
}

#imagen-cv{
    text-align: center;
    border-radius: 150px;
    border: 5px gray solid;
    width: 200px;
    height: 200px;
    margin: 20px;
}

/* modelado de las cajas */
.modelo-caja{
    margin-top: 20px ;
    margin-bottom: 30px;
    border: 5px green;
    background-color: #0071bc;
    border-style: groove;
    border-radius: 70px;
    padding: 10px;
    width: 300px;
}

/* modelado de la caja que contiene la foto */
#caja-perfil-foto{
    text-align: center;
}

/* Centro la informacion personal */

#caja-perfil-infoPersonal{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#datos-personales{
    list-style:none;
}

.modelo-caja>h2{
    text-align: center;
    margin-bottom: 30px;
}

/* botones */

#footer{
    text-align: center;
}

#btn-volver-arriba{
    color:blue
}

/*CAMBIO PROBANDO QUE FUNCIONA EL DEPLOY*/